/* Inter Font Family Import */
:root {
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

/* ---------- COLOR SETTINGS ---------- */
:root {
  --font-primary: "Inter";
  --color-primary: #2e292e;
  --color-secondary: #ffffff;
  --color-tertiary: #6e6e6e;
  --color-light-blue: #91dae6;
  --color-light-green: #b3db82;
  --color-lavender-purple: #a99dec;
  --color-yellow: #f9d978;
  --color-orange: #ee9d70;
  --color-red: #ed6c89;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  font-family: var(--font-primary);
}
::placeholder {
  color: var(--color-tertiary);
  font-family: var(--font-primary);
}
a {
  text-decoration: none;
  color: var(--color-light-blue);
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
/* -------------------- MARGIN SCALING -------------------- */
body {
  margin: 1rem 10%;
}
main {
  margin: 0 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* -------------------- ELEMENTS -------------------- */
.button {
  color: var(--color-primary);
  background-color: var(--color-light-blue);
  border: 0.05rem solid var(--color-light-blue);
  width: fit-content;
  padding: 0.25rem 0.5rem;
  border-radius: 0.2rem;
  cursor: pointer;
  user-select: none; /* Standard */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
}
.call {
  background-color: var(--color-orange);
}
.action {
  background-color: var(--color-red);
}
.button:hover {
  border: 0.05rem solid var(--color-secondary);
}
.button:active {
  background-color: var(--color-secondary);
}

.input {
  padding: 0.3rem 0.5rem;
  width: 80%;
}
.correct {
  background-color: var(--color-light-green);
}
.incorrect {
  background-color: var(--color-red);
}

.title {
  font-size: 1.5rem;
  font-weight: 500;
}

.label {
  text-align: center;
}

.menu-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  background-color: var(--color-primary);
  border-radius: 1rem;
  padding: 0.5rem;
  width: 3.5rem;
  height: 3.5rem;
  text-align: center;
  user-select: none; /* Standard */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  img {
    width: 2rem;
    height: 2rem;
  }
}
.menu-item:hover {
  filter: brightness(150%);
}
/* -------------------- HEADER / NAVBAR -------------------- */
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  nav {
    display: flex;
    gap: 1rem;
  }
  a {
    text-decoration: none;
    color: var(--color-secondary);
    h1 {
      font-weight: 500;
    }
  }
}
/* -------------------- FORMS -------------------- */
.question-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 20rem;
  height: 20rem;
  text-align: center;
  .input {
    align-self: center;
  }
}

/* -------------------- TEMPLATES -------------------- */
.auth-template {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border-radius: 1rem;
  padding: 1rem;
  width: 15rem;
}
.grid-template {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  .button {
    font-size: 2rem;
    height: 4rem;
    width: 4rem;
    align-self: center;
    margin: 8rem;
  }
}

/* -------------------- PAGES -------------------- */
