/* ------------------------- ROOT CSS ------------------------- */
/* --------------- COLOR --------------- */
:root {
  --color-primary: #ffffff;
  --color-secondary: #000000;
  --color-background: #f0f0f0;
  --color-link: #1e9fda;
  --color-success: #28a745;
  --color-error: #dc3545;
  --color-warning: #ffc107;

  --color-background: #2a2c2e;
  --color-secondary-background: #333638;
  --color-text: #f3f3f3;

  --color-question: #313438;
  --color-questionAnswers: #4e5257;
  --color-questionAnswersChecked: #363a3e;

  --color-very-easy: #a8d5ba;
  --color-easy: #d3e9b9;
  --color-medium: #f2d79e;
  --color-hard: #f4b6a0;
  --color-very-hard: #f5a4a0;

  --color-general-knowledge: #82bbc4;
  --color-geography: #cf936d;
  --color-society-and-culture: #c88998;
  --color-music: #8980b3;
  --color-food-and-drink: #86ac9f;
  --color-sport-and-leisure: #d4c276;
  --color-film-and-tv: #c17185;
  --color-science: #a8bb84;
  --color-arts-and-literature: #b0a1c8;
  --color-history: #e5a861;
}
/* --------------- FONT --------------- */
:root {
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}
/* ------------------------- HTML ------------------------- */
body {
  background-color: var(--color-background);
  color: var(--color-text);
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.5rem;
}

/* ------------------------- COMPONENTS ------------------------- */

/* --------------- ELEMENTS --------------- */
/* ----- Error Message */
.error-message {
  color: var(--color-error);
}

/* ----- PopUp */
.modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 1000;
}

.modal-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  backdrop-filter: blur(2px);
}

.modal-body {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.modal-content {
  background: #fff;
  width: 20rem;
  padding: 25px;
  border-radius: 8px;
  position: relative;
  z-index: 3;
  box-shadow: 0px 0px 65px 0px rgba(0, 0, 0, 0.43);
}
/* --------------- SECTIONS --------------- */
/* ----- Quiz */
.question-card {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  background-color: var(--color-question);
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.question-card-question {
  font-size: 1.2rem;
  margin: 0.5rem 0rem 0.5rem 0rem;
  text-align: center;
}

/* question radio inputs */
input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 0;
  height: 0;
  position: absolute;
  opacity: 0;
}
.custom-box-container {
  display: flex;
  cursor: pointer;
  user-select: none; /* Standard syntax */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}
.custom-box {
  border: 2px solid var(--color-questionAnswersChecked);
  background-color: var(--color-secondary-background);
  border-radius: 0.5rem;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  display: inline-block;
  font-size: 0.8rem;
  text-align: center;
  width: 100%;
  padding: 0.5rem;
}
input[type="radio"]:checked + .custom-box {
  background-color: var(--color-questionAnswers);
  color: white;
  border-color: var(--color-questionAnswers);
}
.custom-box:hover {
  background-color: var(--color-questionAnswersChecked);
}

.quiz {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.quiz-result-correct {
  .result {
    color: var(--color-success);
  }
}
.quiz-result-incorrect {
  .result {
    color: var(--color-error);
  }
}
/* ----- QuizCard */
.quiz-card {
  border: 1px solid black;
  width: 8rem;
  height: 8rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.quiz-card > p {
  margin: 0;
}

/* quiz card categories */
.quiz-card-general-knowledge {
  background-color: var(--color-general-knowledge);
}
.quiz-card-geography {
  background-color: var(--color-geography);
}
.quiz-card-society-and-culture {
  background-color: var(--color-society-and-culture);
}
.quiz-card-music {
  background-color: var(--color-music);
}
.quiz-card-food-and-drink {
  background-color: var(--color-food-and-drink);
}
.quiz-card-sport-and-leisure {
  background-color: var(--color-sport-and-leisure);
}
.quiz-card-film-and-tv {
  background-color: var(--color-film-and-tv);
}
.quiz-card-arts-and-literature {
  background-color: var(--color-arts-and-literature);
}
.quiz-card-science {
  background-color: var(--color-science);
}
.quiz-card-history {
  background-color: var(--color-history);
}

/* --------------- FORMS --------------- */
/* ----- QuestionForm */
.question-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  h3 {
    margin: 0;
    text-align: start;
  }
  div {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
  }
  span {
    text-align: start;
  }
}
.question-form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.question-form-container:nth-child(1) {
  flex: 3;
  span {
    text-align: start;
  }
}
.question-form-container:nth-child(2) {
  flex: 2;
  span {
    text-align: end;
  }
}
/* --------------- PAGES --------------- */

/* --------------- TEMPLATES --------------- */
.grid-template {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}
